<div class="container custom-container">
    <div class="col-md-8">
      <h4 class="text-center">Create Patient</h4>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.firstname" class="form-control" placeholder="firstname">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.dob" class="form-control" placeholder="dob">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.lastname" class="form-control" placeholder="lastname">
      </div>
      
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.phone" class="form-control" placeholder="phone">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.email" class="form-control" placeholder="email">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.address" class="form-control" placeholder="address">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="patientDetails.sex" class="form-control" placeholder="sex">
      </div>
  
      <div class="form-group">
        <button class="btn1" (click)="addPatient()">Submit</button>
      </div>
  
    </div>
  </div>


