<div class="container custom-container">
  <div class="col-md-8">
    <h4 class="text-center">Create User</h4>
<form name="form">
  <div class="form-group">
    <input type="text" [(ngModel)]="form.firstname"   name="firstname" class="form-control" placeholder="firstname">
  </div>

  <div class="form-group">
    <input type="text" [(ngModel)]="form.username"   name="username" class="form-control" placeholder="username">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="form.lastname"   name="lastname" class="form-control" placeholder="lastname">
  </div>
  
  <div class="form-group">
    <input type="text" [(ngModel)]="form.phone"  name="phone" class="form-control" placeholder="phone">
  </div>
  <div class="form-group">
    <input type="email" [(ngModel)]="form.email" name="email"  class="form-control" placeholder="email">
  </div>

  <div class="form-group">
    <input type="password" [(ngModel)]="form.password"  name="password" class="form-control" placeholder="password">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="form.role"   name="role" class="form-control" placeholder="role">
  </div>

  <div class="form-group">
    <button class="btn1 " (click)="addUser()">Submit</button>
  </div>
</form>
    

  </div>
</div>
